.login{
         display: flex;
         width: 100%;

.loginContainer{
    flex: 6;
    background: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)), url("../../assets/moviesb.jpg") center;
   background-size: cover;
    background-position: center;
    
   
    
    
    .loginform{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    h1{
       color: white;
       margin-bottom: 20px; 
       font-size: 25px;
       border: 1px solid goldenrod;
       background-color: rgba(17, 4, 11, 0.187);
       border-radius: 5px;
       padding: 10px;
       color: goldenrod;
    }

    form {
       display: flex;
       flex-direction: column;
       gap: 10px;

       input {
        height: 30px;
        width: 300px;
       }

       button {
        padding: 5px;
        width: 300px;
        border: none;
        background-color: goldenrod;
        color: white;
        cursor: pointer;
        font-size: 20px;
       }

        span {
         color: red;
         margin-top: 10px;
         text-align: center;
        }
    }

    }
}
    
}